<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Amount (g)</th>
      <th>Engery (kcal)</th>
      <th>Total Fat</th>
      <th>Saturated Fat</th>
      <th>Monounsaturated Fat</th>
      <th>Polyunsaturated Fat</th>
      <th>Cholesterol</th>
      <th>Carbohydrate</th>
      <th>Fiber</th>
      <th>Sugars</th>
      <th>Protein</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Lentils</th>
      <td>50</td>
      <td>176.0</td>
      <td>0.53</td>
      <td>0.077</td>
      <td>0.0965</td>
      <td>0.263</td>
      <td>0.0</td>
      <td>31.675</td>
      <td>5.35</td>
      <td>1.015</td>
      <td>12.315</td>
    </tr>
    <tr>
      <th>Broccoli</th>
      <td>150</td>
      <td>61.5</td>
      <td>0.525</td>
      <td>0.0615</td>
      <td>0.0165</td>
      <td>0.027</td>
      <td>0.0</td>
      <td>9.795</td>
      <td>3.75</td>
      <td>2.19</td>
      <td>4.02</td>
    </tr>
    <tr>
      <th>Cauliflower</th>
      <td>50</td>
      <td>13.0</td>
      <td>0.145</td>
      <td>0.0675</td>
      <td>0.0175</td>
      <td>0.016</td>
      <td>0.0</td>
      <td>2.59</td>
      <td>1.05</td>
      <td>0.995</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>Mushrooms</th>
      <td>50</td>
      <td>19.5</td>
      <td>0.215</td>
      <td>0.031</td>
      <td>0.0</td>
      <td>0.1</td>
      <td>0.0</td>
      <td>2.58</td>
      <td>0.6</td>
      <td>1.24</td>
      <td>1.81</td>
    </tr>
    <tr>
      <th>Sweet Potato</th>
      <td>100</td>
      <td>90.0</td>
      <td>0.15</td>
      <td>0.052</td>
      <td>0.002</td>
      <td>0.092</td>
      <td>0.0</td>
      <td>20.71</td>
      <td>3.3</td>
      <td>6.48</td>
      <td>2.01</td>
    </tr>
    <tr>
      <th>Ginger</th>
      <td>3</td>
      <td>2.4</td>
      <td>0.0225</td>
      <td>0.00609</td>
      <td>0.00462</td>
      <td>0.00462</td>
      <td>0.0</td>
      <td>0.5331</td>
      <td>0.06</td>
      <td>0.051</td>
      <td>0.0546</td>
    </tr>
    <tr>
      <th>Tumeric</th>
      <td>2</td>
      <td>6.24</td>
      <td>0.065</td>
      <td>0.03676</td>
      <td>0.00898</td>
      <td>0.01512</td>
      <td>0.0</td>
      <td>1.3428</td>
      <td>0.454</td>
      <td>0.0642</td>
      <td>0.1936</td>
    </tr>
    <tr>
      <th>Tahini</th>
      <td>10</td>
      <td>59.5</td>
      <td>5.38</td>
      <td>0.753</td>
      <td>2.03</td>
      <td>2.36</td>
      <td>0.0</td>
      <td>2.12</td>
      <td>0.93</td>
      <td>0.049</td>
      <td>1.7</td>
    </tr>
    <tr>
      <th>Cider vinegar</th>
      <td>10</td>
      <td>2.1</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.093</td>
      <td>0.0</td>
      <td>0.04</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>Hemp Seeds</th>
      <td>20</td>
      <td>110.6</td>
      <td>9.75</td>
      <td>0.92</td>
      <td>1.08</td>
      <td>7.62</td>
      <td>0.0</td>
      <td>1.734</td>
      <td>0.8</td>
      <td>0.3</td>
      <td>6.312</td>
    </tr>
    <tr>
      <th>Pumpkin Seeds</th>
      <td>10</td>
      <td>55.9</td>
      <td>4.905</td>
      <td>0.8659</td>
      <td>1.6242</td>
      <td>2.0976</td>
      <td>0.0</td>
      <td>1.071</td>
      <td>0.6</td>
      <td>0.14</td>
      <td>3.023</td>
    </tr>
    <tr>
      <th>Olive Oil</th>
      <td>25</td>
      <td>221.0</td>
      <td>25.0</td>
      <td>3.452</td>
      <td>18.24025</td>
      <td>2.63075</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>Lime juice</th>
      <td>100</td>
      <td>25.0</td>
      <td>0.07</td>
      <td>0.008</td>
      <td>0.008</td>
      <td>0.023</td>
      <td>0.0</td>
      <td>8.42</td>
      <td>0.4</td>
      <td>1.69</td>
      <td>0.42</td>
    </tr>
    <tr>
      <th>Walnuts</th>
      <td>20</td>
      <td>130.8</td>
      <td>13.042</td>
      <td>1.2252</td>
      <td>1.7866</td>
      <td>9.4348</td>
      <td>0.0</td>
      <td>2.742</td>
      <td>1.34</td>
      <td>0.522</td>
      <td>3.046</td>
    </tr>
    <tr>
      <th>Macadamia</th>
      <td>20</td>
      <td>143.6</td>
      <td>15.154</td>
      <td>2.4122</td>
      <td>11.7754</td>
      <td>0.3004</td>
      <td>0.0</td>
      <td>2.764</td>
      <td>1.72</td>
      <td>0.914</td>
      <td>1.582</td>
    </tr>
    <tr>
      <th>Brazil nuts</th>
      <td>4</td>
      <td>26.36</td>
      <td>2.684</td>
      <td>0.64536</td>
      <td>0.95516</td>
      <td>0.97596</td>
      <td>0.0</td>
      <td>0.4696</td>
      <td>0.3</td>
      <td>0.0932</td>
      <td>0.5728</td>
    </tr>
    <tr>
      <th>Almonds</th>
      <td>10</td>
      <td>57.9</td>
      <td>4.993</td>
      <td>0.3802</td>
      <td>3.1551</td>
      <td>1.2329</td>
      <td>0.0</td>
      <td>2.155</td>
      <td>1.25</td>
      <td>0.435</td>
      <td>2.115</td>
    </tr>
    <tr>
      <th>Sunflower seeds</th>
      <td>10</td>
      <td>58.4</td>
      <td>5.146</td>
      <td>0.4455</td>
      <td>1.8528</td>
      <td>2.3137</td>
      <td>0.0</td>
      <td>2.0</td>
      <td>0.86</td>
      <td>0.262</td>
      <td>2.078</td>
    </tr>
    <tr>
      <th>Blueberries</th>
      <td>50</td>
      <td>25.5</td>
      <td>0.32</td>
      <td>0.0265</td>
      <td>0.0455</td>
      <td>0.1395</td>
      <td>0.0</td>
      <td>6.1</td>
      <td>1.35</td>
      <td>4.225</td>
      <td>0.21</td>
    </tr>
    <tr>
      <th>Chia seeds</th>
      <td>10</td>
      <td>48.6</td>
      <td>3.074</td>
      <td>0.333</td>
      <td>0.2309</td>
      <td>2.3665</td>
      <td>0.0</td>
      <td>4.212</td>
      <td>3.44</td>
      <td>NaN</td>
      <td>1.654</td>
    </tr>
    <tr>
      <th>Pomegranate juice</th>
      <td>50</td>
      <td>27.0</td>
      <td>0.145</td>
      <td>0.0385</td>
      <td>0.0295</td>
      <td>0.025</td>
      <td>0.0</td>
      <td>6.565</td>
      <td>0.05</td>
      <td>6.325</td>
      <td>0.075</td>
    </tr>
    <tr>
      <th>Soy joghurt</th>
      <td>100</td>
      <td>94.0</td>
      <td>1.8</td>
      <td>0.259</td>
      <td>0.4</td>
      <td>1.02</td>
      <td>0.0</td>
      <td>16.0</td>
      <td>0.2</td>
      <td>1.24</td>
      <td>3.5</td>
    </tr>
    <tr>
      <th>Cocoa powder</th>
      <td>10</td>
      <td>47.9</td>
      <td>2.371</td>
      <td>1.264</td>
      <td>0.738</td>
      <td>0.0769</td>
      <td>0.0</td>
      <td>4.971</td>
      <td>3.39</td>
      <td>0.153</td>
      <td>1.68</td>
    </tr>
    <tr>
      <th>Sum</th>
      <td>864</td>
      <td>1502.8</td>
      <td>95.4865</td>
      <td>13.36021</td>
      <td>44.09751</td>
      <td>33.13475</td>
      <td>0.0</td>
      <td>130.6425</td>
      <td>31.194</td>
      <td>28.4234</td>
      <td>49.371</td>
    </tr>
  </tbody>
</table>